<h1>投稿を編集</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "内容" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to '戻る', posts_path %>  <!-- 投稿一覧に戻るリンク -->
