<h1>投稿を編集</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :priority, "優先度：", class: "postpriority"%>
    <%= form.select :priority, options_for_select([["優先順位：低", "優先順位：低"], ["優先順位：中", "優先順位：中"], ["優先順位：高", "優先順位：高"]]), {}, { class: "postcategory" } %>
  </div>
  <div class="form-group">
    <%= form.label :category, "カテゴリー：" %>
    <%= form.select :category, options_for_select([["仕事関連", "仕事関連"], ["予定関連", "予定関連"]]), {}, { class: "postcategory" } %>
  </div>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "内容" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to '戻る', posts_path %>  <!-- 投稿一覧に戻るリンク -->
